<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #app {
        margin: auto;
        margin-top: 50px;
        width: 75%;
        text-align: center;
        background-color: gray;
        padding: 25px;
    }

    #startbtn {
        background-color: cadetblue;
        border: 2px solid rgb(76, 132, 134);
        padding: 15px 30px;
        transition: all 200ms ease-in-out;
    }

    #startbtn:hover {
        background-color: rgb(33, 149, 153);
        border: 2px solid rgb(54, 110, 112);
        color: white;
    }

    .setupform {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 50%;
    }

    .plrdiv {
        width: 100%;
    }

    #gametype {
        width: 100%;
    }

    #plrname,
    #plr2name {
        width: 70%;
    }

    .plrltr {
        width: 20%;
    }

    #gametype,
    #plrname,
    #plr2name,
    .plrltr,
    #boardsizeInptY,
    #boardsizeInptX {
        margin: 10px 0 20px;
        padding: 10px;
    }

    .board {
        margin: 20px;
        display: grid;
        display: grid;
        grid-gap: 10px;
        height: 600px;
        width: auto;
        background-color: gray;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .cell {
        background-color: white;
        text-align: center;
        height: auto;
        width: 33%;
        font-size: 75px;
        margin-left: 1%;
        margin-right: 1%;
    }
</style>

<body>
    <div id="app">
        <div id='startpage' v-if="page==0">
            <h1>Welcome to Tic Tac Toe</h1>
            <button @click="++page" id="startbtn">Start</button>
        </div>

        <div id='plrinitpage' v-if="page==1">
            <div class="setupform">
                <label id="gametypeLbl" for="gametype">Choose Opponent</label>
                <select name="gametype" id="gametype" v-model="enemytype">
                    <option value="null" disabled hidden>Please Choose an Opponent</option>
                    <option value="comp">Computer</option>
                    <option value="plr2">2nd Player</option>
                </select>
                <label id="plrnameLbl" for="plrname">Player 1</label>
                <div class="plrdiv">
                    <input type="text" name="plrname" id="plrname" placeholder="Your Name" v-model="plr.name">
                    <select name="plrltr" class="plrltr" v-model="ltrchange">
                        <option value="X">X</option>
                        <option value="O">O</option>
                    </select>
                </div>
            </div>
            <div class="setupform" v-if="enemytype == 'comp'">
                <label id="plr2nameLbl" for="plr2name">Computer</label>
                <div class="plrdiv">
                    <input type="text" name="plr2name" id="plr2name" disabled v-model="enemy.name">
                    <select name="plrltr2" class="plrltr" v-model="enemy.ltr" disabled>
                        <option value="X">X</option>
                        <option value="O">O</option>
                    </select>
                </div>

            </div>
            <div class="setupform" v-if="enemytype == 'plr2'">
                <label id=" plr2nameLbl" for="plr2name">Player 2</label>
                <div class="plrdiv">
                    <input type="text" name="plr2name" id="plr2name" placeholder="Your Name" v-model="enemy.name">
                    <select name="plrltr2" class="plrltr" v-model="enemy.ltr" disabled>
                        <option value="X">X</option>
                        <option value="O">O</option>
                    </select>
                </div>
            </div>
            <label for="boardsizeInptX" id="boardsizeLbl">Board Size</label>
            <div>
                <input type="number" id="boardsizeInptX" name="boardsizeInptX" placeholder="X axis"
                    v-model.number="boardsize.x">
                <input type="number" id="boardsizeInptY" name="boardsizeInptY" placeholder="Y axis"
                    v-model.number="boardsize.y">
            </div>
            <button @click="createmainboard" id="startbtn">Start Game</button>
        </div>

        <div id='gamepage' v-if="page==2">
            <div v-if="error">{{ error }}</div>
            <div class="buttons">
                <button @click="movelogfunc('back')">
                    <svg viewBox="0 0 256 512" width="20" title="angle-left">
                        <path
                            d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" />
                    </svg>
                </button>
                <button @click="movelogfunc('forward')">
                    <svg viewBox="0 0 256 512" width="20" title="angle-right">
                        <path
                            d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" />
                    </svg>
                </button>
            </div>
            <div class="endscreen" v-if='ended'> Game over {{winner}} has won</div>
            <div class='board'>
                <div class="row" v-for="(row, i) in (boardsize.y)">
                    <div class='cell' v-for="(cell, j) in (boardsize.x)" @click="makemove(i,j)">
                        {{mainboard[i][j]}}
                    </div>
                </div>
            </div>
            <button @click='--page'>go back</button>
        </div>
    </div>
</body>
<script src="./vue.js"></script>
<script>
    const board = {
        data() {
            return {
                mainboard: [],
                enemytype: null,
                ltrchange: "X",
                plr: {
                    ltr: "X",
                    name: "",
                    score: 0
                },
                enemy: {
                    ltr: "O",
                    name: "",
                    score: 0
                },
                page: 1,
                tempboard: [],
                boardsize: {
                    x: null,
                    y: null
                },
                error: null,
                ltrturn: 'X',
                movelog: {},
                move: 0,
                ended: false,
                winner: ""
            }
        },
        methods: {
            createmainboard() {
                app.page += 1
                var array = []
                for (let i = 0; i < (app.boardsize.y); i++) {
                    array.push([])
                    for (let j = 0; j < (app.boardsize.x); j++) {
                        array[array.length - 1].push(null)
                    }
                    array[-1]
                }
                console.log(array);
                app.mainboard = array
                // app.tempboard = app.mainboard
            },
            makemove(row, cell) {
                if (!app.ended) {
                    if (app.mainboard[row][cell] === null) { /*Check that cell is empty*/
                        app.mainboard[row][cell] = app.ltrturn;
                        app.error = null
                        app.move += 1
                        app.movelog[app.move] = [row, cell, app.ltrturn]
                        //Delete previous movelog
                        for (let i = app.move + 1; i < Object.keys(app.movelog).length + 2; i++) {
                            delete app.movelog[i];
                        }
                        app.checkwin()
                        if (app.enemytype == "plr2") { /*Switch ltr if enemy is not comp*/
                            if (app.ltrturn === "X") {
                                app.ltrturn = "O";
                            } else {
                                app.ltrturn = "X";
                            }
                        } else if (app.enemytype == "comp") {
                            if (!app.ended) {
                                while (app.boardemptycells > 0) {
                                    compmove_x = Math.floor(Math.random() * app.boardsize.x)
                                    compmove_y = Math.floor(Math.random() * app.boardsize.y)
                                    if (app.mainboard[compmove_y][compmove_x] === null) {
                                        app.move += 1
                                        app.movelog[app.move] = [compmove_y, compmove_x, "O"]
                                        app.mainboard[compmove_y][compmove_x] = "O"
                                        break
                                    }
                                }
                            }
                        }
                    } else {/*Displayes error if cell is not empty*/
                        app.error = "Place is already taken"
                    }
                }
            },
            checkwin() {
                for (let i = 0; i < app.boardsize.y; i++) {
                    for (let j = 0; j < app.boardsize.x; j++) {
                        try {
                            if (app.mainboard[i][j] != null) {
                                let checkLtr = app.mainboard[i][j]
                                if (app.mainboard[i + 1][j] == checkLtr) {
                                    if (app.mainboard[i + 2][j] == checkLtr) {
                                        if (app.plr.ltr == checkLtr) {
                                            app.plr.score += 1
                                        }
                                        else if (app.enemy.ltr == checkLtr) {
                                            app.enemy.score += 1
                                        }
                                    }
                                }
                                if (app.mainboard[i][j + 1] == checkLtr) {
                                    if (app.mainboard[i][j + 2] == checkLtr) {
                                        if (app.plr.ltr == checkLtr) {
                                            app.plr.score += 1
                                        }
                                        else if (app.enemy.ltr == checkLtr) {
                                            app.enemy.score += 1
                                        }
                                    }
                                }
                            }
                        } catch (error) {
                            console.log(error);
                        }
                    }
                }
                if (app.boardsize.x == 3 && app.boardsize.y == 3) {
                    console.log("CHECK");
                    if (app.plr.score > 0) {
                        app.ended = true
                        app.winner = app.plr.name
                    }
                    else if (app.enemy.score > 0) {
                        app.ended = true
                        app.winner = app.enemy.name
                    }
                }
            },
            movelogfunc(direction) {
                if (direction === "back") {
                    app.mainboard[app.movelog[app.move][0]] = null
                    app.move -= 1
                    if (app.enemytype == "plr2") { /*Switch ltr if enemy is not comp*/
                        if (app.ltrturn === "X") {
                            app.ltrturn = "O";
                        } else {
                            app.ltrturn = "X";
                        }
                    } else {
                        app.mainboard[app.movelog[app.move][0]] = null
                        app.move -= 1
                    }
                } else if (direction === 'forward') {
                    if (app.movelog[app.move + 1]) {
                        app.move += 1
                        app.mainboard[app.movelog[app.move][0]] = app.movelog[app.move][1]
                        if (app.enemytype == "plr2") { /*Switch ltr if enemy is not comp*/
                            if (app.ltrturn === "X") {
                                app.ltrturn = "O";
                            } else {
                                app.ltrturn = "X";
                            }
                        } else {
                            app.move += 1
                            app.mainboard[app.movelog[app.move][0]] = app.movelog[app.move][1]
                        }
                    }
                }
            },
        },
        computed: {
            boardemptycells() {
                var counter = 0;
                for (let i = 0; i < app.boardsize.y; i++) {
                    for (let j = 0; j < app.boardsize.x; j++) {
                        const cell = app.mainboard[i][j];
                        if (cell === null) {
                            counter += 1
                        }
                    }
                }
                return counter
            },
        },
        watch: {
            ltrchange(newltr, oldltr) {
                if (newltr === "X") {
                    app.plr.ltr = newltr;
                    app.enemy.ltr = 'O';
                } else {
                    app.plr.ltr = newltr;
                    app.enemy.ltr = 'X';
                }
                return app.enemy.ltr
            },
            enemytype(newEnemy, oldEnemy) {
                if (newEnemy == 'comp') {
                    app.enemy.name = "Computer"
                } else {
                    app.enemy.name = ""
                }
            }
        },
    }
    const app = Vue.createApp(board).mount('#app')

</script>

</html>